aiofiles==24.1.0
aiogram==3.20.0.post0
aiohttp==3.11.18
asyncio==3.4.3
python-dotenv==1.0.1
pandas==2.2.2
numpy==1.26.4
joblib==1.4.2
sqlalchemy==2.0.30
python-telegram-bot==21.1.1
lightgbm==4.3.0
scikit-learn==1.5.0
ccxt==4.2.85
vaderSentiment==3.4.1
feedparser==6.0.11
matplotlib==3.8.4
nest-asyncio==1.6.0
json5==0.9.25
typing-extensions==4.13.2
